extends ../layouts/common
block content

  h2 Transaction

  ul
    if(user.isAdmin === true)
      each transaction in transactions
        li
          span User Id : 
          span=transaction.userId
          br
          span Book Id : 
          span=transaction.bookId
          br
          a(href="/transactions/complete/" + transaction.id ) Hoàn thành
          br
          if(transaction.isComplete)
            span Đã hoàn thành 
    else
      span= user.id
      each transaction in transactions
        if(user.id === transaction.userId)
          li
          span User Id : 
          span=transaction.userId
          br
          span Book Id : 
          span=transaction.bookId
          br
          a(href="/transactions/complete/" + transaction.id ) Hoàn thành
          br
          if(transaction.isComplete)
            span Đã hoàn thành 

  form(action="/transactions/create" method="POST")

    h2 New a transaction
    h4 User
    select(name= "userId")
      each user in users
        option( value = user.id )= user.name

    h4 Book
    select(name= "bookId")
      each book in books
        option( value = book.id )= book.title 

    button(class="btn btn-primary") Create
    
